<a href="@Url.Action("Giohang", "Giohang")" style="color: black; font-weight: bold; text-decoration: none">
    <img src="~/images/as.png" style="width:35px;height:35px;background:white;" />Giỏ Hàng(@ViewBag.Tongsoluong)
</a>
