
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutGioithieu.cshtml";
}


<div style="text-align:center">
    <iframe width="1000px" height="500px" src="https://www.youtube.com/embed/50ADv_dZkTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>