@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<GIAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="Text-align: Center;color: black;font-weight: bold">
    SẢN PHẨM NỔI BẬT
</h3>
<br />
<style>
    #lht1:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
        margin: 3%;
        background:#ff0000;
    }
</style>
<div class="row">
    @foreach (var giay in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail" id="lht1">
                <a href="@Url.Action("Details","ShopGiay",new { id = giay.MaGiay})">
                    <img alt="@giay.TenGiay" src="~/Hinhsanpham/@giay.Anhbia" width="200" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @giay.TenGiay
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>



