
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<script>
function scrollWin() {
    window.scrollTo(0, 800);
}
</script>
<html>
<header>
    <title>Thanh toán</title>
</header>
<body onload="scrollWin()">
    <h2 style="text-align:center;background:#00ffff">Thanh toán thất bại! Bạn có thể chọn hình thức thanh toán khác!</h2>
</body>
</html>

