
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<script>
    function scrollWin() {
        window.scrollTo(0, 800);
    }
</script>
<html>
<header>
    <title>Thanh toán</title>
</header>
<body onload="scrollWin()">
    <h2 style="text-align:center;background:#00ffff">Thanh toàn thành công. Vui lòng chờ nhân viên gói hàng bạn nhé!</h2>
</body>
</html>





